 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:wght@400..900&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background: url('img.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button,
input[type="submit"] {
    background-color: #112e42;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  margin-top: 15px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #1a1a1a;
}

p {
  margin-bottom: 10px;
  color: #000;
}

span {
  font-weight: bold;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    height: auto;
    display: block;
  }

  form {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
  }

  h2 {
    font-size: 18px;
  }

  input, select, button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}