@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Barre de navigation */
nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    text-align: center ;
}

nav li {
    display: inline ;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    font-variant: small-caps;
    color: grey;
    margin-right: 15px;
}

nav a:hover {
    color: black;
    text-decoration: underline;
}

nav h1{
    font-size: 20px;
}

nav .onglets {
    display: flex;
    flex-wrap:wrap;
}

nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    outline: none;
    background-color: #f2f2f2;
}
/* Fin de la Barre de navigation */

/* Header */
Header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
}

Header h1{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}

Header button{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
/* Fin du Header */

/* section principal */
.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Toutes les cartes */
.cards {
    display: flex;
    flex-wrap:wrap;
    gap: 25px;
    justify-content: center;
    padding: 40px 20px;
}

.cards .card {
    margin-right: 20px;
    cursor: pointer;
}

.cards .card img {
    width: 350px;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.cards .card .card-Header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.cards .card .card-body p {
    margin-top: -10px;
}

.card-body button {
  background: #e67e22;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card-body button:hover {
  background: #d35400;
  transform: scale(1.05);
}
/* Fin des cartes */
/* Fin de la section pricipale */

/* pied de page */

footer{
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media{
    display: flex;
}
footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

/* fin du pied de page */

@media (max-width: 600px) {
  form {
    width: 90%;
    padding: 15px;
  }
  
  h2 {
    font-size: 18px;
  }

  input, select, button {
    font-size: 14px;
    padding: 8px;
  }
}
